{%  extends "layout.html" %}
    {% block body %}
        <p></p>
        <p></p>
        <h1>ROOM {{ name }}</h1>
        <div class="container">
        <p></p>
        <p></p>
        <h2>Search Students in Room</h2>
            <form action="" method="POST">
                <div class="form-group">
                    <label>
                        <input type="text" name="studentName" class="form-control" placeholder="Search" required>
                    </label>
                </div>
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>

    {%  endblock %}